@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 18px;

}

/**************
      HEADER
***************/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 1;
}

.header {}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

}

.header_logo {}

.logo_img {}

.logo_text {}

.hearder_login {
    display: flex;
    align-items: center;
    font-weight: 400;


}

.header_container {
    display: flex;
    align-items: center;
    gap: 110px;

}

.container {
    max-width: 1240px;
    margin: 0 auto;
}


/**************
      WELCOME 
***************/


.welcome {
    padding-bottom: 50px;
}

main {
    margin-top: -50px;
}

.welcome_container {
    position: relative;
}

.welcome_container::after {
    content: "";
    width: 660px;
    height: 790px;

    position: absolute;
    right: -170px;
    top: -240px;
    z-index: -1;

    transform: rotate(-105deg);


    background-image: url("./img/bg-welcome.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    margin-bottom: 30px;
}

.welcome_desc {}

.welcome_title {
    margin-bottom: 130px;
    font-size: 64px;
    line-height: 1.09;
}

.welcome_text {
    position: relative;
    font-size: 20px;
    padding-left: 130px;
    width: 380px;
}

.welcome_text::before {
    content: "";
    width: 125px;
    height: 125px;

    position: absolute;
    left: 20px;
    bottom: 50%;

    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
}

.welcome_text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 55px;

    width: 130px;
    height: 4px;
    background-color: #fff;

    transform: rotate(120deg);

}

.welcome_img {
    width: 450px;
}

.welcome_cta {
    padding-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.cta_links {
    display: flex;
    gap: 30px;
}

.cta_link {}

.cta_img {}